@using TaxiBook.Areas.TaxiDriver.ViewModels.Orders
@model OrderDetailsViewModel

<div class="page-title">
    <h3>Текуща поръчка</h3>
    <p class="text-subtitle text-muted">Тук може да следите в реално време информация за приетата си поръчка.</p>
</div>
<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2956.173642003534!2d24.332994640815865!3d42.189354637596956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbg!4v1647159005753!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<section class="section">
    <div class="card open">
        <div class="card-header" id="order-progress" data-toggle="collapse" data-target="#progress" aria-expanded="true" aria-controls="progress" >
            <h4 style="text-align: center;">Прогрес на поръчка</h4><br />
            <div class="progress progress-primary  mb-3">
                <div class="progress-bar" role="progressbar" style="width: 50%"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="accordion" id="cardAccordion">
        <div class="card open">
            <div class="card-header" id="headingThree" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" role="button">
                <h4 class="collapsed collapse-title">@this.Model.CreatedOn.ToString("HH:mm"), @this.Model.CreatedOn.ToString("dd.MM.yyyy") г.</h4>
            </div>
            <div id="collapseThree" class="collapse show pt-1" aria-labelledby="headingThree" data-parent="#cardAccordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="form-group has-icon-left">
                                <label for="clientName">Клиент</label>
                                <div class="position-relative">
                                    <input disabled type="text" class="form-control" value='@this.Model.ClientName' id="clientName">
                                    <div class="form-control-icon">
                                        <i class="fas fa-user-circle"></i>
                                    </div>
                                </div>                  
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group has-icon-left">
                                <label for="phoneNumber">Телефонен номер</label>
                                <div class="position-relative">
                                    <input disabled type="tel" class="form-control" value='@this.Model.PhoneNumber' id="phoneNumber">
                                    <div class="form-control-icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                </div>                  
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group has-icon-left">
                                <label for="currentLocation">Начална точка</label>
                                <div class="position-relative">
                                    <input disabled type="text" class="form-control" value='@this.Model.CurrentLocation' id="currentLocation">
                                    <div class="form-control-icon">
                                        <i class="fas fa-street-view"></i>
                                    </div>
                                </div>                  
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group position-relative">
                                <label for="currentLocationDetails">Уточнение за начална точка</label>
                                <textarea disabled id="currentLocationDetails" class="form-control" rows="2">@this.Model.CurrentLocationDetails</textarea>              
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group has-icon-left">
                                <label for="endLocation">Крайна точка</label>
                                <div class="position-relative">
                                    <input disabled type="text" class="form-control" value='@this.Model.EndLocation' id="endLocation">
                                    <div class="form-control-icon">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group position-relative">
                                <label for="endLocationDetails">Уточнение за крайна точка</label>
                                <textarea disabled id="endLocationDetails" class="form-control" rows="2">@this.Model.EndLocationDetails</textarea>             
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group has-icon-left">
                                <label for="countOfPassengers">Брой пътуващи</label>
                                <div class="position-relative">
                                    <input disabled type="number" min="1" max="6" class="form-control" value="@this.Model.CountOfPassengers" id="countOfPassengers">    
                                    <div class="form-control-icon">
                                        <i class="fas fa-users"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group position-relative">
                                <label for="endLocationDetails">Допълнителни изисквания</label>
                                <textarea disabled id="endLocationDetails" class="form-control" rows="2">@this.Model.AdditionalRequirements</textarea>             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
