@using TaxiBook.Areas.TaxiDriver.ViewModels.Orders
@model OrderListingViewModel

<div class="page-title">
    <div class="row">
        <div class="col-12">
            <h3>Неприети поръчки</h3>
            <p class="text-subtitle text-muted">Тук са всички поръчки, направени онлайн, които изискват да бъдат приети за изпълнение.</p>
        </div>
    </div>
</div>
@if (this.Model.UnacceptedOrders.Count() != 0)
{
    <div class="card collapse-icon accordion-icon-rotate">
        <div class="card-content">
            <div class="card-body">
                <div class="accordion" id="cardAccordion">
                    @{int count = 1;}
                    @foreach (var order in this.Model.UnacceptedOrders)
                    {
                        <div class="card collapse-header">
                            <div class="card-header" id="heading_@count" data-bs-toggle="collapse" data-bs-target="#collapse_@count" aria-expanded="false" aria-controls="collapse_@count" role="button">
                                <span class="collapsed collapse-title">@order.CreatedOn.ToString("HH:mm"), @order.CreatedOn.Date.ToString("dd.MM.yyyy") г.</span>
                            </div>
                            <div id="collapse_@count" class="collapse pt-1" aria-labelledby="heading_@count" data-parent="#cardAccordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group has-icon-left">
                                                <label for="clientName">Име</label>
                                                <div class="position-relative">
                                                    <input disabled type="text" class="form-control" value='@order.FirstName' id="clientName">
                                                    <div class="form-control-icon">
                                                        <i class="fas fa-user-circle"></i>
                                                    </div>
                                                </div>                  
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group has-icon-left">
                                                <label for="phoneNumber">Телефонен номер</label>
                                                <div class="position-relative">
                                                    <input disabled type="tel" class="form-control" value='@order.PhoneNumber' id="phoneNumber">
                                                    <div class="form-control-icon">
                                                        <i class="fas fa-phone-alt"></i>
                                                    </div>
                                                </div>                  
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group has-icon-left">
                                                <label for="currentLocation">Начална точка</label>
                                                <div class="position-relative">
                                                    <input disabled type="text" class="form-control" value='@order.StartLocation' id="currentLocation">
                                                    <div class="form-control-icon">
                                                        <i class="fas fa-street-view"></i>
                                                    </div>
                                                </div>                  
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group position-relative">
                                                <label for="currentLocationDetails">Уточнение за начална точка</label>
                                                <textarea disabled id="currentLocationDetails" class="form-control" rows="2">@order.StartLocationDetails</textarea>              
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group has-icon-left">
                                                <label for="endLocation">Крайна точка</label>
                                                <div class="position-relative">
                                                    <input disabled type="text" class="form-control" value='@order.EndLocation' id="endLocation">
                                                    <div class="form-control-icon">
                                                        <i class="fas fa-map-marked-alt"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group position-relative">
                                                <label for="endLocationDetails">Уточнение за крайна точка</label>
                                                <textarea disabled id="endLocationDetails" class="form-control" rows="2">@order.EndLocationDetails</textarea>             
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group has-icon-left">
                                                <label for="countOfPassengers">Брой пътуващи</label>
                                                <div class="position-relative">
                                                    <input disabled type="number" min="1" max="6" class="form-control" value="@order.CountOfPassengers" id="countOfPassengers">    
                                                    <div class="form-control-icon">
                                                        <i class="fas fa-users"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group position-relative">
                                                <label for="endLocationDetails">Допълнителни изисквания</label>
                                                <textarea disabled id="endLocationDetails" class="form-control" rows="2">@order.AdditionalRequirements</textarea>             
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <form method="post" asp-area="TaxiDriver" asp-controller="Orders" asp-action="Accept" asp-route-id="@order.Id">
                                            <button type="submit" class="btn btn-primary mr-1 mb-1">Приеми</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        count++;
                    }
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br />
}
else
{
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
}
