@using TaxiBook.Areas.Dispatcher.ViewModels.Home
@model CreateАbsenceViewModel

<div class="page-title">
    <h3>График</h3>
    <p class="text-subtitle text-muted">Тук е вашият месечен график, с който може да следите работното си време. Имате възможността да изпратите молба към мениджъра си за предстоящо отсътвие.</p>
</div>
@{
    var currentMonth = DateTime.UtcNow.Month;
    var currentYear = DateTime.UtcNow.Year;

    string displayMonth = "";

    switch (currentMonth)
    {
        case 1:
            displayMonth = "Януари";
            break;
        case 2:
            displayMonth = "Февруари";
            break;
        case 3:
            displayMonth = "Март";
            break;
        case 4:
            displayMonth = "Април";
            break;
        case 5:
            displayMonth = "Май";
            break;
        case 6:
            displayMonth = "Юни";
            break;
        case 7:
            displayMonth = "Юли";
            break;
        case 8:
            displayMonth = "Август";
            break;
        case 9:
            displayMonth = "Септември";
            break;
        case 10:
            displayMonth = "Октомври";
            break;
        case 11:
            displayMonth = "Ноември";
            break;
        case 12:
            displayMonth = "Декември";
            break;
	}

    const int daysInWeek = 7;
    int daysInMonth = DateTime.DaysInMonth(currentYear, currentMonth);
    int today = DateTime.Today.Date.Day;

    var weekDayMonthStart = (double)new DateTime(currentYear, currentMonth, 1).DayOfWeek;
    var weekDayMonthEnd = (int)new DateTime(currentYear, currentMonth, daysInMonth).DayOfWeek;

    if (weekDayMonthStart == 0)
    {
        weekDayMonthStart = 7;
    }

    double firstWeekDaysFromPreviousMonth = weekDayMonthStart - 1;
    double weeks = Math.Ceiling((daysInMonth + firstWeekDaysFromPreviousMonth) / daysInWeek);
            
    int start = 0, end = 0;

    if (weekDayMonthStart == 7)
    {
        weekDayMonthStart = 0;
    }
}
<div class="card collapse-icon accordion-icon-rotate"><br />
    <div class="card-content">
        <div class="card-header">
            <h4 class="card-title, text-center">@displayMonth, @currentYear</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Понеделник</th>
                        <th class="text-center">Вторник</th>
                        <th class="text-center">Сряда</th>
                        <th class="text-center">Четвътък</th>
                        <th class="text-center">Петък</th>
                        <th class="text-center">Събота</th>
                        <th class="text-center">Неделя</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var row = 1; row <= weeks; row++)
                    {
                        if (row == 1)
                        {
                            <tr>
                                @for (var col = 1; col <= daysInWeek; col++)
                                {
                                    if (weekDayMonthStart == 0)
                                    {
                                        weekDayMonthStart = 7;

                                        if (col < weekDayMonthStart)
                                        {
                                            <td class="text-center"></td>
                                        }
                                        else
                                        {
                                            col -= (int)firstWeekDaysFromPreviousMonth;

                                            if (col == today)
                                            {
                                                <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">@col</a></td>
                                            }
                                            else
                                            {
                                                <td class="text-center"><a class="btn nohover" role="button" data-toggle="modal" data-target="#workTime">@col</a></td>
                                            }

                                            col += (int)firstWeekDaysFromPreviousMonth;

                                            if (col == daysInWeek)
                                            {
                                                start = col - (int)firstWeekDaysFromPreviousMonth + 1;
                                            }
                                        }

                                        weekDayMonthStart = 0;
                                    }
                                    else
                                    {
                                        if (col < weekDayMonthStart)
                                        {
                                            <td class="text-center"></td>
                                        }
                                        else
                                        {
                                            col -= (int)firstWeekDaysFromPreviousMonth;

                                            if (col == today)
                                            {
                                                <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">@col</a></td>
                                            }
                                            else
                                            {
                                                <td class="text-center"><a class="btn nohover" role="button" data-toggle="modal" data-target="#workTime">@col</a></td>
                                            }

                                            col += (int)firstWeekDaysFromPreviousMonth;

                                            if (col == daysInWeek)
                                            {
                                                start = col - (int)firstWeekDaysFromPreviousMonth + 1;
                                            }
                                        }
                                         
                                    }
                                }
                            </tr>
                        }
                        else if (row == weeks)
                        {
                            if (weekDayMonthEnd == 0)
                            {
                                weekDayMonthEnd = 7;
                            }

                            int lastWeekDaysFromNextMonth = daysInWeek - weekDayMonthEnd;
                            end = lastWeekDaysFromNextMonth + daysInMonth;

                            <tr>
                                @for (int col = start; col <= end; col++)
                                {
                                    if (col <= daysInMonth)
                                    {
                                        if (col == today)
                                        {
                                            <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">@col</a></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><a class="btn nohover" role="button" data-toggle="modal" data-target="#workTime">@col</a></td>
                                        }
                                    }
                                    else
                                    {
                                        <td class="text-center"></td>
                                    }
                                }
                            </tr>
                        }
                        else
                        {
                            end = start + 6;

                            <tr>
                                @for (int col = start; col <= end; col++)
                                {
                                    if (col == today)
                                    {
                                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">@col</a></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><a class="btn nohover" role="button" data-toggle="modal" data-target="#workTime">@col</a></td>
                                    }

                                    if (col == end)
                                    {
                                        start = col + 1;
                                    }
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <button type="submit" data-toggle="modal" data-target="#forthcomingAbsence" class="btn btn-primary btn-block">Предстоящо отсъствие</button>
            <div class="modal fade" id="forthcomingAbsence" tabindex="-1" role="dialog" aria-labelledby="forthcomingAbsenceTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Предстоящо отсъствие</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i data-feather="x"></i>
                            </button>
                        </div>
                        <form class="form" method="post" asp-area="Dispatcher" asp-controller="Home" asp-action="Schedule">
                            <div class="modal-body">
                                <p>Моля попълнете.</p>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="From" for="absenceStartDay">От</label>
                                        <div class="position-relative">
                                            <input asp-for="From" type="date" class="form-control" id="absenceStartDay">
                                            <span asp-validation-for="From" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Till" for="absenceEndDay">До</label>
                                        <div class="position-relative">
                                            <input asp-for="Till" type="date" class="form-control" id="absenceEndDay">
                                            <span asp-validation-for="Till" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary ml-1">
                                    <i class="bx bx-check d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Изпрати</span>
                                </button>
                                <button type="button" class="btn btn-outline-primary ml-1" data-dismiss="modal">
                                    <i class="bx bx-check d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Затвори</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="workTime" tabindex="-1" role="dialog" aria-labelledby="workTimeTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Работно време - 17.03.2022</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i data-feather="x"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row"> 
                                <div class="col-md-6">
                                    <div class="form-group position-relative has-icon-left">
                                        <label for="workDayStart">От</label>
                                        <div class="position-relative">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="workDayStart" readonly="readonly" value="8:00">                                   
                                            </div>
                                            <div class="form-control-icon">
                                                <i class="fas fa-clock"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group position-relative has-icon-left">
                                        <label for="workDayEnd">До</label>
                                        <div class="position-relative">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="workDayEnd" readonly="readonly" value="16:30">                                   
                                            </div>
                                            <div class="form-control-icon">
                                                <i class="far fa-clock"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            
                            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Затвори</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
