@using TaxiBook.Areas.Manager.ViewModels.Schedule
@model AbsenceListingViewModel

<div class="page-title">
    <h3>График</h3>
    <p class="text-subtitle text-muted">Тук е вашият месечен график и молбите, подадени от служителите ви за предстоящи отсъствия.</p>
</div>
@{
    var currentMonth = DateTime.UtcNow.Month;
    var currentYear = DateTime.UtcNow.Year;

    string displayMonth = "";

    switch (currentMonth)
    {
        case 1:
            displayMonth = "Януари";
            break;
        case 2:
            displayMonth = "Февруари";
            break;
        case 3:
            displayMonth = "Март";
            break;
        case 4:
            displayMonth = "Април";
            break;
        case 5:
            displayMonth = "Май";
            break;
        case 6:
            displayMonth = "Юни";
            break;
        case 7:
            displayMonth = "Юли";
            break;
        case 8:
            displayMonth = "Август";
            break;
        case 9:
            displayMonth = "Септември";
            break;
        case 10:
            displayMonth = "Октомври";
            break;
        case 11:
            displayMonth = "Ноември";
            break;
        case 12:
            displayMonth = "Декември";
            break;
	}

    const int daysInWeek = 7;
    int daysInMonth = DateTime.DaysInMonth(currentYear, currentMonth);
    int today = DateTime.Today.Date.Day;

    var weekDayMonthStart = (double)new DateTime(currentYear, currentMonth, 1).DayOfWeek;
    var weekDayMonthEnd = (int)new DateTime(currentYear, currentMonth, daysInMonth).DayOfWeek;

    if (weekDayMonthStart == 0)
    {
        weekDayMonthStart = 7;
    }

    double firstWeekDaysFromPreviousMonth = weekDayMonthStart - 1;
    double weeks = Math.Ceiling((daysInMonth + firstWeekDaysFromPreviousMonth) / daysInWeek);
            
    int start = 0, end = 0;

    if (weekDayMonthStart == 7)
    {
        weekDayMonthStart = 0;
    }
}
<div class="card collapse-icon accordion-icon-rotate"><br />
    <div class="card-content">
        <div class="card-header">
            <h4 class="card-title, text-center">@displayMonth, @currentYear</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Понеделник</th>
                        <th class="text-center">Вторник</th>
                        <th class="text-center">Сряда</th>
                        <th class="text-center">Четвътък</th>
                        <th class="text-center">Петък</th>
                        <th class="text-center">Събота</th>
                        <th class="text-center">Неделя</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var row = 1; row <= weeks; row++)
                    {
                        if (row == 1)
                        {
                            <tr>
                                @for (var col = 1; col <= daysInWeek; col++)
                                {
                                    if (weekDayMonthStart == 0)
                                    {
                                        weekDayMonthStart = 7;

                                        if (col < weekDayMonthStart)
                                        {
                                            <td class="text-center"></td>
                                        }
                                        else
                                        {
                                            col -= (int)firstWeekDaysFromPreviousMonth;

                                            if (col == today)
                                            {
                                                <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">@col</a></td>
                                            }
                                            else
                                            {
                                                <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">@col</a></td>
                                            }

                                            col += (int)firstWeekDaysFromPreviousMonth;

                                            if (col == daysInWeek)
                                            {
                                                start = col - (int)firstWeekDaysFromPreviousMonth + 1;
                                            }
                                        }

                                        weekDayMonthStart = 0;
                                    }
                                    else
                                    {
                                        if (col < weekDayMonthStart)
                                        {
                                            <td class="text-center"></td>
                                        }
                                        else
                                        {
                                            col -= (int)firstWeekDaysFromPreviousMonth;

                                            if (col == today)
                                            {
                                                <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">@col</a></td>
                                            }
                                            else
                                            {
                                                <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">@col</a></td>
                                            }

                                            col += (int)firstWeekDaysFromPreviousMonth;

                                            if (col == daysInWeek)
                                            {
                                                start = col - (int)firstWeekDaysFromPreviousMonth + 1;
                                            }
                                        }
                                         
                                    }
                                }
                            </tr>
                        }
                        else if (row == weeks)
                        {
                            if (weekDayMonthEnd == 0)
                            {
                                weekDayMonthEnd = 7;
                            }

                            int lastWeekDaysFromNextMonth = daysInWeek - weekDayMonthEnd;
                            end = lastWeekDaysFromNextMonth + daysInMonth;

                            <tr>
                                @for (int col = start; col <= end; col++)
                                {
                                    if (col <= daysInMonth)
                                    {
                                        if (col == today)
                                        {
                                            <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">@col</a></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">@col</a></td>
                                        }
                                    }
                                    else
                                    {
                                        <td class="text-center"></td>
                                    }
                                }
                            </tr>
                        }
                        else
                        {
                            end = start + 6;

                            <tr>
                                @for (int col = start; col <= end; col++)
                                {
                                    if (col == today)
                                    {
                                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">@col</a></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">@col</a></td>
                                    }

                                    if (col == end)
                                    {
                                        start = col + 1;
                                    }
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h4 class="card-title, text-center">Предстоящи отсъствия</h4>
    </div>
    <div class="card-body">
        <div>
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th class="text-center">Име</th>
                        <th class="text-center">Роля</th>
                        <th class="text-center">Период</th>
                        <th class="text-center">Отговор</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var absence in this.Model.Absences)
                    {
                        if (absence.IsApproved == false)
                        {
                            <tr>
                                <td>@absence.FullName</td>
                                @{
                                    string role = absence.Role.ToString() == "Dispatcher" 
                                        ? "Диспечер" 
                                        : "Таксиметров шофьор";
                                }
                                <td>@role</td>
                                @{
                                    string[] fromArr = absence.From.Split('-');
                                    string from = string.Empty;

                                    for (int i = fromArr.Length; i > 0; i--)
                                    {
                                        from += i - 1 == 0 ? fromArr[i - 1] : $"{fromArr[i - 1]}.";
                                    }

                                    string[] tillArr = absence.Till.Split('-');
                                    string till = string.Empty;

                                    for (int i = tillArr.Length; i > 0; i--)
                                    {
                                        till += i - 1 == 0 ? tillArr[i - 1] : $"{tillArr[i - 1]}.";
                                    }
                                }
                                <td>@from - @till</td>
                                <td>
                                    <span style="float:left;">
                                        <form asp-area="Manager" asp-controller="Schedule" asp-action="ApproveAbsence" asp-route-id="@absence.Id" method="post"><button type="submit"  role="button" class="btn btn-primary"><i class="fas fa-check"></i></button></form> 
                                    </span>
                                    <span style="float:right;">
                                        <form asp-area="Manager" asp-controller="Schedule" asp-action="DisapproveAbsence" asp-route-id="@absence.Id" method="post"><button class="btn btn-outline-primary"><i class="fas fa-times"></i></button></form>
                                    </span>
                                </td>
                            </tr> 
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
