@using TaxiBook.Services.ViewModels.Profiles
@model ProfileInformationViewModel
@{
    this.Layout = "_LoggedLayout";
}

<div class="page-title">
    <h3>Моят профил</h3>
    <p class="text-subtitle text-muted">Тук са вашите лични данни.</p>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <form method="post" asp-area="Default" asp-controller="Profiles" asp-action="Edit">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <div class="avatar avatar-xl me-3">
                                        <img src="@this.Model.ImageUrl">
                                    </div><br />
                                </div>
                                <div class="col-12 d-flex justify-content-center">
                                    <div class="mt-3">
                                        <button type="button" class="btn btn-outline-primary block" data-bs-toggle="modal" data-bs-target="#changeProfilePicture">Промени снимка</button><br /><br />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="firstName">Първо име</label>
                                        <input asp-for="@this.Model.UpdateProfileViewModel.FirstName" type="text" class="form-control" id="firstName" value="@this.Model.FirstName" placeholder="Първо име" disabled >
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="lastName">Фамилия</label>
                                        <input asp-for="@this.Model.UpdateProfileViewModel.LastName" type="text" class="form-control" id="lastName" placeholder="Фамилия" disabled value="@this.Model.LastName">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="@this.Model.UpdateProfileViewModel.Email" for="email">Email</label>
                                        <input asp-for="@this.Model.UpdateProfileViewModel.Email" type="text" class="form-control" id="email" placeholder="Email" disabled value="@this.Model.Email">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="@this.Model.UpdateProfileViewModel.PhoneNumber" for="phoneNumber">Телефонен номер</label>
                                        <input asp-for="@this.Model.UpdateProfileViewModel.PhoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="Телефонен номер" disabled value="@this.Model.PhoneNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-end">
                                    <span style="float:left;">
                                        <form asp-area="Default" asp-controller="Profiles" asp-action="Edit" method="post">
                                            <button id="hiddenButton" type="submit" class="btn btn-outline-primary mr-1 mb-1" style="visibility: hidden">Запази</button>
                                         </form>
                                    </span>
                                    <span style="float:right;">
                                        <button id="edit" onclick="enable('firstName', 'lastName', 'email', 'phoneNumber', 'hiddenButton', 'edit')" type="button" class="btn btn-primary mr-1 mb-1">Редактирай</button>
                                    </span>
                                    <script>
                                        function enable(firstName, lastName, email, phoneNumber, hiddenButton, edit) {
                                            document.getElementById(firstName).disabled = false;
                                            document.getElementById(lastName).disabled = false;
                                            document.getElementById(email).disabled = false;
                                            document.getElementById(phoneNumber).disabled = false;
                                            document.getElementById(edit).disabled = true;

                                            document.getElementById(hiddenButton).style.visibility = "visible";
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </form>           
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changeProfilePicture" tabindex="-1" role="dialog" aria-labelledby="changeProfilePictureTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeProfilePictureTitle">Промени снимка</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><i data-feather="x"></i></button>
            </div>
            <form method="post" asp-area="Default" asp-controller="Profiles" asp-action="ChangeProfilePicture" enctype="multipart/form-data">
                <div class="modal-body">
                    <p>Тук може да промените своята профилна снимка.</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="profilePicture">Нова снимка</label>
                                <div class="form-file">
                                    <input asp-for="@this.Model.UpdateProfileViewModel.ProfilePicture" type="file" class="form-file-input" id="profilePicture">
                                    <label class="form-file-label">
                                        <span class="form-file-text">Изберете файл...</span>
                                        <span class="form-file-button btn-primary "><i data-feather="upload"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span style="float:left;">
                        <form asp-area="Default" asp-controller="Profiles" asp-action="ChangeProfilePicture" method="post">
                            <button type="submit" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Промени</span>
                            </button>
                        </form>
                    </span>
                    <span style="float:right;">
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Затвори</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4>Забравена парола?</h4>
                    <p class="text-subtitle text-muted">Искате да промените своята текущата парола?<a asp-area="Identity" asp-page="/Account/ForgotPassword" method="post"> Последвайте тази връзка.</a></p> 
                </div>
            </div>
        </div>
    </div>
</section>
