@using TaxiBook.Areas.Dispatcher.ViewModels.Orders
@model OrderDetailsViewModel

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Детайли за избраната поръчка</h3>
            <p class="text-subtitle text-muted">Допълнителната информация за поръчката е тук.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="Dispatcher" asp-controller="Orders" asp-action="Processed">Приети поръчки</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Повече детайли</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="name">Kлиент</label>
                                        <div class="position-relative">
                                            <input disabled type="text" class="form-control" value="@this.Model.ClientName" id="name">
                                            <div class="form-control-icon">
                                                <i class="fas fa-user-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="phoneNumber">Телефонен номер</label>
                                        <div class="position-relative">
                                            <input disabled type="text" class="form-control" value="@this.Model.PhoneNumber" id="phoneNumber">
                                            <div class="form-control-icon">
                                                <i class="fas fa-phone-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="currentLocation">Начална точка</label>
                                        <div class="position-relative">
                                            <input disabled type="text" class="form-control" value='@this.Model.StartLocation' id="currentLocation">
                                            <div class="form-control-icon">
                                                <i class="fas fa-street-view"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label for="startLocationDetails">Уточнение за начална точка</label>
                                        <textarea disabled id="startLocationDetails" class="form-control" rows="2">@this.Model.StartLocationDetails</textarea>              
                                        
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="endLocation">Крайна точка</label>
                                        <div class="position-relative">
                                            <input disabled type="text" class="form-control" value='@this.Model.EndLocation' id="endLocation">
                                            <div class="form-control-icon">
                                                <i class="fas fa-map-marked-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label  for="startLocationDetails">Уточнение за крайна точка</label>
                                        <textarea  id="startLocationDetails" class="form-control" rows="2" disabled>@this.Model.EndLocationDetails</textarea>  
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="countOfPassengers">Брой пътуващи</label>
                                        <div class="position-relative">
                                            <input disabled type="number" class="form-control" value="@this.Model.CountOfPassengers" id="countOfPassengers">
                                            <div class="form-control-icon">
                                                <i class="fas fa-users"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label  for="startLocationDetails">Допълнителни изисквания</label>
                                        <textarea  id="startLocationDetails" class="form-control" rows="2" disabled>@this.Model.AdditionalRequirements</textarea>              
                                        
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="createdOn">Направена</label>
                                        <div class="position-relative">
                                            <input disabled type="text" class="form-control" value="@this.Model.CreatedOn.ToString("dd.MM.yyyy") г." id="createdOn">
                                            <div class="form-control-icon">
                                                <i class="fas fa-clock"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="completedOn">Приключена</label>
                                        <div class="position-relative">
                                            <input disabled type="text" class="form-control" value="@this.Model.CompletedOn?.ToString("dd.MM.yyyy") г." id="completedOn">
                                            <div class="form-control-icon">
                                                <i class="far fa-clock"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
